<div>
    <h1 class="card z-depth-3 center-align">Read the Latest from 'VOGUE'</h1>
    <div class="row">
        <div class="col s3"></div>
        <h4 class="card z-depth center-align col s6">Click the "Scrape" to get the latest articles</h4>
    </div>
</div>